html,
body {
    height: 100%;
}

html {
    font-size: 125%;
    line-height: 1.4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 2fr;
        grid-template-areas:
            "header header header"
            "add-quotes update-quote delete-quote"
            "quotes quotes quotes";
        gap: 1rem;
        margin: 0;
        padding: 1rem;
    /* background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%); */
    background-image: url('/daniel-k-cheung-cPF2nlWcMY4-unsplash.jpg');
    height: auto;
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:flex-start;
    text-align:left;
    
}

[data-position="header"] {
    grid-area: header;
    opacity: 0.75;
}

[data-position="add-quotes"] {
    grid-area: add-quotes;
    opacity: 0.7;
}

[data-position="update-quotes"] {
    grid-area: update-quotes;
    opacity: 0.7;
}

[data-position="delete-quotes"] {
    grid-area: delete-quotes;
    opacity: 0.7;
}

[data-position="quotes"] {
    grid-area: quotes;
    overflow: scroll;
    opacity: 0.7;
    color:black;
}

.character{
    background-color: white;
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        width: 700px;
        height: fit-content;
}
[data-position] { 
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    
}

h1,
h2 {
    text-align: center;
    margin: 0;
}